.App {
  background-color: #adadad;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCon {
  background-color: white;
  width: 70vw;
  height: 90vh;
  border-radius: 15px;
}
.mainTitleCon {
  padding: 20px;
  padding-bottom: 0px;
  height: 13vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.iconCon {
  width: 10vw;
  height: 60px;
}
.headerCon {
  height: 60px;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headerText {
  font-size: 2vw;
  font-weight: bold;
  width: 20vw;
  text-align: center;
  margin-bottom: 10px;
  color: #0b125c;
}
.headerDivider {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 16vw;
}
.Divider1 {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 18vw;
  margin-top: 20px;
}
.Divider2 {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 35vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Divider3 {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 17vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Divider4 {
  border-left: 1px solid rgb(196, 196, 196);
  height: 2vh;
  margin-left: 8px;
  margin-right: 8px;
}
.Divider5 {
  /* border-left: 2px solid rgb(237, 142, 17);
  height: 2px;
  width: 10vw; */
  border-bottom: 2px solid rgb(237, 142, 17);
  width: 4px;
}
.Divider6 {
  border-bottom: 2px solid rgb(196, 196, 196);
  width: 30vw;
}
.mainInfoCon {
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subCon {
  display: flex;
  justify-content: center;
}
.subInfoCon1 {
  width: 37vw;
  height: 60vh;
  padding-top: 5px;
  margin-right: 10px;
}
.subInfoCon2 {
  height: 60vh;
}
.selImportBtn {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: solid 2px rgb(196, 196, 196);
  border-radius: 6px;
}
.dragMainCon {
  width: 33vw;
  height: 20vh;
  background-color: white;
  border-radius: 6px;
  border: solid 2px rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.dragSubCon {
  width: 33vw;
  height: 15vh;
  background-color: white;
  border-radius: 6px;
  border: dotted 2px rgb(196, 196, 196);
}
.docIconMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  flex-direction: column;
}
.uploadMain {
  width: 33vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.uploadBtn {
  width: 15vw;
  height: 4vh;
  background-color: #0b125c;
  color: white;
  border-radius: 4px;
}
.fileMain {
  width: 40vw;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}
.radioBtn {
  margin: 0;
  margin-right: 5px;
  height: 2vh;
  width: 2vw;
}
.radioBtnCon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
}
.selectClient {
  width: 10vw;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: solid 2px rgb(196, 196, 196);
  border-radius: 6px;
  margin-left: 40px;
}
.messageText {
  width: 45vw;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #0b125c;
}
.continBtn {
  width: 13vw;
  height: 4vh;
  background-color: #0b125c;
  color: white;
  border: solid 2px rgb(11, 18, 92);
  border-radius: 4px;
}
.cancelBtn {
  width: 13vw;
  height: 4vh;
  background-color: white;
  color: #ed8e11;
  border: solid 2px rgb(237, 142, 17);
  border-radius: 4px;
}
#file-upload-button {
  background-color: #0b125c;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}